{% extends "portfolio/base.html" %}
{% block content %}
    <h1>Welcome to Dynasty Ninja!</h1>
    <br>
    <p>This is a basic web app that will allow you to see how many shares of every player you have across your Sleeper dynasty leagues.</p>
    <p>Just sign up using your sleeper username (must be exact!), and then it'll spit out a bar chart with your list of players and how many shares you have of each.</p>
    <p>Why does it look so bad? Oh, because I learned how to code five minutes ago.</p>
    <p>This is my first coding project, so it's as much for fun as anything. It will be ad-supported at first, just to cover my server costs. If people find it useful, then I'll continue to add to it, and maybe add Patreon-supported tiers in the future. For now, please just try it out and let me know if you like it! If you have any problems using it, or have some ideas for ways to make it better, please find my on Twitter or email below. I'm only supporting Sleeper for now, but if it gains interest, I'll try to add support for other sites.</p>
    <p>Thanks for trying it out! If you want to support me, either click on an add, or buy me a beer below!</p>
    <p>Nathan Drake (The 2 time dynasty champ, not the much more famous video game character.)</p>
    <p>Twitter: <a href="https://twitter.com/dynastyninjaapp" target="_blank" rel="noopener noreferrer">@nastynateff</a></p>
    <p>Email: <a href="mailto:nathan@dynasty.ninja">nathan@dynasty.ninja</a></p>
    <a href="https://account.venmo.com/u/dynastyninja" target="_blank" rel="noopener noreferrer">Buy me a beer! (Venmo)</a>

{% endblock content %} 