{% extends "portfolio/base.html" %}
{% block content %}
    <h1>{{ user.username }}'s Dynasty Portfolio</h1>
    <br>
    <p>{{ league_string }}</p>
    <br>
    <p>You have a total of {{ total_num_of_players }} different players across all of your dynasty rosters.</p>
    <br>
    <div>
        {% autoescape off %}
        {{ graph }}
        {% endautoescape %}
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Side Ad -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7613715683962981"
        data-ad-slot="1652189258"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
{% endblock content %} 